html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}



/* Message Component */
.messageContainer {
  display: flex;
  padding: 0 5%;
  margin-top: 3px;
}

.messageBox {
  border-radius: 20px;
  padding: 5px 20px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  max-width: 80%;
}

.messageText {
  font-size: 1.1em;
  margin: 5px 0;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundBlue {
  background: #2979FF;
}

.backgroundLight {
  background: #F3F3F3;
}